<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="username" value="gopinathabinayaa"></parameter>
		<parameter name="password" value="gopinath@1993"></parameter>
		<parameter name="location" value="London"></parameter>
		<parameter name="hotels" value="Hotel Sunshine"></parameter>
		<parameter name="roomType" value="Double"></parameter>
		<parameter name="noOfRoom" value="2 - Two"></parameter>
		<parameter name="adults" value="2 - Two"></parameter>
		<parameter name="childs" value="2 - Two"></parameter>
		<parameter name="firstName" value="Gopinath"></parameter>
		<parameter name="lastName" value="Muthukrishnan"></parameter>
		<parameter name="address" value="Erode,Komarapalayam"></parameter>
		<parameter name="crdNum" value="1234567890123456"></parameter>
		<parameter name="crdType" value="Master Card"></parameter>
		<parameter name="expMnth" value="August"></parameter>
		<parameter name="expYear" value="2022"></parameter>
		<parameter name="cvv" value="123"></parameter>
		
		<classes>
			<class name="org.reuse.TestNg" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
